
/* Your CSS Code here. */
.main{
	text-align:center;
	width:600px;
	background-color:rgb(41, 0, 0);
	5px solid rgb(4, 255, 4)
	height:300px;
}
.row {
	border:5px solid rgb(255, 188, 188);
	height: 200px;
}
.row div{
	border:2px dotted rgb(38, 38, 43)
}
.row1col1{
	background-color:teal;
}
.row1col2{
	background-color:thistle;
}
.row1col2{
	background-color:thistle;
}
.row2col1{
	background-color:tomato;
}
.row2col2{
	background-color:turquoise;
}
.row3col1{
	background-color:violet;
}
.row3col2{
	background-color:yellowgreen;
}
